<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body>

<div class="container mt-5">

    <h1 class="mb-4">Admin Dashboard</h1>

    <div class="row">

        <div class="col-md-6">

            <h3>Local Inventory</h3>

            <table class="table table-bordered table-striped">

                <thead>
                <tr>
                    <th>ID</th>
                    <th>Item</th>
                    <th>Brand</th>
                    <th>Price</th>
                </tr>
                </thead>

                <tbody>

                <tr th:each="item : ${items}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.brand}"></td>
                    <td th:text="${item.price}"></td>
                </tr>

                </tbody>

            </table>

        </div>

        <div class="col-md-6">

            <h3>Supplier Microservice</h3>

            <table class="table table-bordered table-striped">

                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Rating</th>
                </tr>
                </thead>

                <tbody>

                <tr th:each="supplier : ${suppliers}">
                    <td th:text="${supplier.id}"></td>
                    <td th:text="${supplier.name}"></td>
                    <td th:text="${supplier.country}"></td>
                    <td th:text="${supplier.rating}"></td>
                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>

</body>
</html>